@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

body {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    background-color: #272b30;
}

h1 {
    margin: 0 0 0.5em 0;
}

label {
    color: white !important;
    font-weight: normal;
}

.form-control {
    font-family: sans-serif;
}

a, a:hover, a:visited, a:link, a:active {
    /*color: black;*/
}

.donate-container {
    background-color: #2e3338;
    border: 5px solid #269abc;
    padding: 1em;
    margin-bottom: 2em;
}

.donate-form-half {
    margin-bottom: 0;
}

.panel-heading {
    background-color: #353a41 !important;
    color: white !important;
}

.panel-body, .list-group-item {
    background-color: #2e3338 !important;
}

.panel-default, .panel-heading, .panel-title, .panel-body, .list-group, .list-group-item {
    border-color: #269abc !important;
}

@media screen and (min-width: 992px) {
    .donate-form-half {
        height: 20em;
    }

    .donate-form-half-left {
        margin-right: 1em;
        width: 48%;
    }

    .donate-form-half-right {
        margin-left: 1em;
        width: 48%;
        float: right;
        overflow-y: scroll;
    }
}

#donate-form-container {
    margin-bottom: 0;
    clear: both;
}

.panel-title {
    font-size: 14pt;
}

.btn {
    font-size: inherit;
}

.submit-container {
    text-align: center;
}

.submit {
    border: 1px solid darkgray;
    width: 5em;
    height: 2em;
    background-color: #272b30;
    /*color: black;*/
    text-align: center;
}

#preamble {
    text-align: center;
    font-size: 12pt;
}

.charity-name {
    color: deepskyblue;
}

.bid-amount-group {
    margin-bottom: 0;
}

.bid-text {
    margin-top: 5px;
    display: inline-block;
}

.bid-total-container {
    text-align: right;
    padding-right: 25px;
}

.bid-total-panel {
    background-color: #353a41;
    display: inline-block;
    position: relative;
    top: -60px;
}

.bid-total-button {
    font-family: 'FontAwesome';
    background-color: grey;
}

.bid-total-button-opened::after {
    content: "\f061";
}

.bid-total-panel-closed {
    opacity: 0.5;
}

.bid-total-button-closed::after {
    content: "\f060";
}

.bid-total {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
