body {
    background-image: url('../event_img/puwp2018-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.donate-container {
    border-color: #f4b661;
}

.submit {
    border-color: #f4b661;
}
